<!--
  author: Keir Armstrong
  contact: karmstr7@uoregon.edu
  date of creation: April 11, 2018
  last update: April 15, 2018
//-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- Import Materialize css -->
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"/>
  <!-- Import Google css -->
  <link type="text/css" rel="stylesheet" href="../css/google-fonts.css"/>
  <!-- Import Custom css -->
  <link type="text/css" rel="stylesheet" href="../css/index.css"/>
  <title>Clean Calendar</title>
</head>

<body>
  <ul id="view-options" class="dropdown-content">
    <li id="tab-day" class="active">Today</li>
    <li id="tab-week">Week</li>
  </ul>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal lighten-1">
        <a id="month-year" class="brand-logo"></a>
        <ul class="right hide-on-med-and-down" style="margin-right:40px;user-select:none">
          <li id="backup" class="tooltipped" data-position="bottom" data-tooltip="Download Backup">
            <i class="material-icons">file_download</i>
          </li>
          <li id="previous" class="tooltipped" data-position="bottom" data-tooltip="Previous Day">
            <i class="material-icons">arrow_back</i>
          </li>
          <li id="next" class="tooltipped" data-position="bottom" data-tooltip="Next Day">
            <i class="material-icons">arrow_forward</i>
          </li>
          <li id="view-options-dropdown" class="dropdown-trigger" data-target="view-options">
            Today
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="main">
    <div id="panel-day" class="panel">
      <table class="time-table">
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td>1am</td>
          </tr>
          <tr>
            <td>2am</td>
          </tr>
          <tr>
            <td>3am</td>
          </tr>
          <tr>
            <td>4am</td>
          </tr>
          <tr>
            <td>5am</td>
          </tr>
          <tr>
            <td>6am</td>
          </tr>
          <tr>
            <td>7am</td>
          </tr>
          <tr>
            <td>8am</td>
          </tr>
          <tr>
            <td>9am</td>
          </tr>
          <tr>
            <td>10am</td>
          </tr>
          <tr>
            <td>11am</td>
          </tr>
          <tr>
            <td>12pm</td>
          </tr>
          <tr>
            <td>1pm</td>
          </tr>
          <tr>
            <td>2pm</td>
          </tr>
          <tr>
            <td>3pm</td>
          </tr>
          <tr>
            <td>4pm</td>
          </tr>
          <tr>
            <td>5pm</td>
          </tr>
          <tr>
            <td>6pm</td>
          </tr>
          <tr>
            <td>7pm</td>
          </tr>
          <tr>
            <td>8pm</td>
          </tr>
          <tr>
            <td>9pm</td>
          </tr>
          <tr>
            <td>10pm</td>
          </tr>
          <tr>
            <td>11pm</td>
          </tr>
        </tbody>
      </table>
      <table id="day-table"></table>
    </div>

    <div id="panel-week" class="panel">
      <table class="time-table">
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td>1am</td>
          </tr>
          <tr>
            <td>2am</td>
          </tr>
          <tr>
            <td>3am</td>
          </tr>
          <tr>
            <td>4am</td>
          </tr>
          <tr>
            <td>5am</td>
          </tr>
          <tr>
            <td>6am</td>
          </tr>
          <tr>
            <td>7am</td>
          </tr>
          <tr>
            <td>8am</td>
          </tr>
          <tr>
            <td>9am</td>
          </tr>
          <tr>
            <td>10am</td>
          </tr>
          <tr>
            <td>11am</td>
          </tr>
          <tr>
            <td>12pm</td>
          </tr>
          <tr>
            <td>1pm</td>
          </tr>
          <tr>
            <td>2pm</td>
          </tr>
          <tr>
            <td>3pm</td>
          </tr>
          <tr>
            <td>4pm</td>
          </tr>
          <tr>
            <td>5pm</td>
          </tr>
          <tr>
            <td>6pm</td>
          </tr>
          <tr>
            <td>7pm</td>
          </tr>
          <tr>
            <td>8pm</td>
          </tr>
          <tr>
            <td>9pm</td>
          </tr>
          <tr>
            <td>10pm</td>
          </tr>
          <tr>
            <td>11pm</td>
          </tr>
        </tbody>
      </table>
      <div class="grid-week">

        <div class="grid-week-item">
          <table id="week-table-0"></table>
        </div>

        <div class="grid-week-item">
          <table id="week-table-1"></table>
        </div>

        <div class="grid-week-item">
          <table id="week-table-2"></table>
        </div>

        <div class="grid-week-item">
          <table id="week-table-3"></table>
        </div>

        <div class="grid-week-item">
          <table id="week-table-4"></table>
        </div>

        <div class="grid-week-item">
          <table id="week-table-5"></table>
        </div>

        <div class="grid-week-item">
          <table id="week-table-6"></table>
        </div>

      </div>
    </div>

    <!-- Modal -->
    <div id="event-modal" class="modal">
      <div class="modal-content">
        <div class="row">
          <form id="event-form" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="event-name"
                        name="name"
                        type="text"
                        value="Untitled Event"
                        required>
                <label class="active" for="event-name">Event Name (Between 2 - 25 Characters)</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="event-description"
                        name="description"
                        type="text"
                        value="Empty"
                        required>
                <label class="active" for="event-description">Description (Between 2 - 350 Characters)</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="event-start-date"
                        name="start-date"
                        class="datepicker"
                        class="validate"
                        type="text"
                        required>
                <label class="active" for="event-start-date">Start Date</label>
              </div>
              <div class="input-field col s6">
                <input id="event-start-time"
                        name="start-time"
                        class="timepicker"
                        type="text"
                        required=""
                        aria-required="true"
                        class="validate"
                        value="00:00">
                <label class="active" for="event-start-time">Start Time</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="event-end-date"
                        name="end-date"
                        class="datepicker"
                        type="text"
                        required=""
                        aria-required="true"
                        class="validate">
                <label class="active" for="event-end-date">End Date</label>
              </div>
              <div class="input-field col s6">
                <input id="event-end-time"
                        name="end-time"
                        class="timepicker"
                        type="text"
                        required=""
                        aria-required="true"
                        class="validate"
                        value="01:00">
                <label class="active" for="event-end-time">End Time</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a id="event-save" class="modal-action waves-effect waves-green btn-flat">Save</a>
        <a id="event-delete" class="modal-action waves-effect waves-yellow btn-flat">Delete</a>
        <a id="event-create" class="modal-action waves-effect waves-green btn-flat">Create</a>
        <a id="event-cancel" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
      </div>
    </div>
  </div>

  <script>window.$ = window.jQuery = require('jquery');</script>
  <!-- Import Materialize JS -->
  <script type="text/javascript" src="../style-js/materialize.js"></script>
  <!-- Import useful Javascript -->
  <script type="text/javascript" src="../renderer/index.js"></script>
</body>

</html>
