<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- Import Materialize css -->
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"/>
  <!-- Import Google css -->
  <link type="text/css" rel="stylesheet" href="../css/google-fonts.css"/>
  <!-- Import Custom css -->
  <link type="text/css" rel="stylesheet" href="../css/index.css"/>
  <title>Clean Calendar</title>
</head>

<body>
  <div class="main">
    <nav>
      <div class="nav-wrapper teal lighten-2">
        <a class="brand-logo">2018</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="index.html">Today</a></li>
          <li><a href="week.html">Week</a></li>
          <li><a href="month.html">Month</a></li>
          <li class="active"><a href="/">Year</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Import Materialize JS -->
  <script src="../style-js/materialize.min.js"></script>
  <!-- Import useful Javascript -->
  <script src="../renderer/index.js"></script>
</body>

</html>
