/*
  author: Keir Armstrong
  contact: karmstr7@uoregon.edu
  date of creation: April 11, 2018
  last update: April 15, 2018
*/
html, body {
  background-color: #e0e0e0;

}

.main {
  margin: auto;
  width: 95%;
}

nav ul li {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

nav ul li.btn, nav ul li.btn-large, nav ul li.btn-small, nav ul li.btn-large, nav ul li.btn-flat, nav ul li.btn-floating {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
}

nav ul li.btn > .material-icons, nav ul li.btn-large > .material-icons, nav ul li.btn-small > .material-icons, nav ul li.btn-large > .material-icons, nav ul li.btn-flat > .material-icons, nav ul li.btn-floating > .material-icons {
  height: inherit;
  line-height: inherit;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.brand-logo {
  margin-left: 50px;
  user-select: none;
}

#view-options-dropdown {
  width: 70px;
  font-weight: bold;
  font-size: 15px;
}

#panel-week {
  display: none;
}

.modal {
  width: 75% !important;
}

.grid-week {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
}

.grid-week-item {
  text-align: center;
  border: 0.5px solid #bdbdbd;
}


.grid-week-item > table > tbody > tr {
  height: 60px;
}

.grid-week-item >  table > thead > tr > th {
  text-align: center;
  font-weight: normal;
  user-select: none;
}

.grid-week-item >  table > tbody > tr > td {
  text-align: center;
}

.grid-week-item > table > tbody > tr:hover {
  background-color: #eceff1;
}

#day-table {
  width: 860px;
  margin-left: 55px;
}

#day-table > thead > tr > th,
#day-table > tbody > tr > td
{
  height: 60px;
}

#day-table > tbody > tr > td:hover {
  background-color: #eceff1;
}

.time-table > thead > tr {
  height: 60px;
  border: none !important;
  border-top: none;
  border-bottom: none;
}

.time-table > tbody > tr {
  height: 60px;
  border: none !important;
  border-top: none;
  border-bottom: none;
}

.time-table > tbody > tr > td {
  float: right;
  position: relative;
  top: -35px;
  user-select: none;
}

.time-table > tbody > tr > td {
  font-size: 12px;
}

.time-table {
  position: relative;
  width: 50px;
  float: left;
}
